@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Vroom.Service.Pagination.PagedResult<Vroom.Dto.VehicleMakeDto>

<h1>Vehicles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <input type="text" name="searchQuery" class="form-control" placeholder="Search..." value="@Context.Request.Query["searchQuery"]">
        </div>
        <div class="col-auto">
            <p>Sort by</p>
            <select name="sortBy" class="form-control">
                <option value="Name" selected="@(Context.Request.Query["sortBy"] == "Name" || string.IsNullOrEmpty(Context.Request.Query["sortBy"]))">Name</option>
                <option value="Abbreviation" selected="@(Context.Request.Query["sortBy"] == "Abbreviation")">Abbreviation</option>
                <option value="Id" selected="@(Context.Request.Query["sortBy"] == "Id")">ID</option>
            </select>
        </div>
        <div class="col-auto">
            <div class="form-check">
                <input type="checkbox" name="descending" class="form-check-input" id="descending"
                       value="true" @(Context.Request.Query["descending"] == "true" ? "checked" : "")>
                <label class="form-check-label" for="descending">Descending</label>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary">Filter</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Abbreviation</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Abbreviation</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="_PaginationPartial" model="@new PaginationViewModel 
         { 
             CurrentPage = Model.PageNumber, 
             PageSize = Model.PageSize,
             TotalCount = Model.TotalCount
         }" />